################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



*.vsidx
/.vs/PollyHangFireDemo/DesignTimeBuild/.dtbcache.v2
/PollyHangFireDemo/bin/Debug/net8.0/PollyHangFireDemo.dll
/.vs/PollyHangFireDemo/DesignTimeBuild/.dtbcache.v2
/.vs/PollyHangFireDemo/v17/.suo
/.vs/PollyHangFireDemo/v17/DocumentLayout.json
/PollyHangFireDemo/bin/Debug/net8.0/PollyHangFireDemo.exe
/PollyHangFireDemo/obj/Debug/net8.0/PollyHangFireDemo.AssemblyInfo.cs
/PollyHangFireDemo/obj/Debug/net8.0/PollyHangFireDemo.AssemblyInfoInputs.cache
/PollyHangFireDemo/obj/Debug/net8.0/PollyHangFireDemo.csproj.FileListAbsolute.txt
/PollyHangFireDemo/obj/Debug/net8.0/PollyHangFireDemo.dll
/PollyHangFireDemo/obj/Debug/net8.0/ref/PollyHangFireDemo.dll
/PollyHangFireDemo/bin/Debug/net8.0/PollyHangFireDemo.pdb
/PollyHangFireDemo/obj/Debug/net8.0/PollyHangFireDemo.pdb
*.json
*.exe
/.vs/PollyHangFireDemo/v17/DocumentLayout.json
*.dll
/.vs/PollyHangFireDemo/FileContentIndex/19c0bb35-a71b-4f11-9adb-b6535fae38d4.vsidx
/PollyHangFireDemo/obj/Debug/net8.0/PollyHangFireDemo.csproj.CoreCompileInputs.cache
/.vs/PollyHangFireDemo/FileContentIndex/19c0bb35-a71b-4f11-9adb-b6535fae38d4.vsidx
/.vs/PollyHangFireDemo/FileContentIndex/4802fd8a-4332-4f8e-94d7-62e7e7f951b1.vsidx
/.vs/PollyHangFireDemo/FileContentIndex/a1e354e0-82b1-4f26-9c19-6df4c724ac0a.vsidx
/.vs/PollyHangFireDemo/FileContentIndex/bd141b36-d88d-4ad3-9b62-32e1b76e9ab7.vsidx
/.vs/PollyHangFireDemo/v17/.futdcache.v2
/.vs/PollyHangFireDemo/FileContentIndex/cafea731-a1a8-43f7-83a4-0ce9e73566e0.vsidx
/.vs/ProjectEvaluation/pollyhangfiredemo.metadata.v8.bin
/.vs/ProjectEvaluation/pollyhangfiredemo.projects.v8.bin
/.vs/ProjectEvaluation/pollyhangfiredemo.strings.v8.bin
